{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
    <!-- templates/registration/login.html -->
<h2>Log In</h2>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <p><button type="submit">Log In</button></p>
    </form>
{% endblock %}



{% comment %}

<h1>{% trans "Login" %}</h1>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        <label for="{{ form.username.id_for_label }}">Email ou nome de utilizador</label>
        {{ form.username }}
    </div>
    <div>
        <label for="{{ form.password.id_for_label }}">Password</label>
        {{ form.password }}
    </div>
    <button type="submit">{% trans "Login" %}</button>
</form>{% endcomment %}
