{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ term_name }}{% endblock %}

{% block content %}
<div class="container mt-1">

    {# Botão "Voltar" usando get_back_url da view, através duma stack de urls  #}
    {% if back_url %}
        <a href="{{ back_url }}" class="btn btn-outline-secondary mt-0 mb-3">
            <i class="bi bi-arrow-left"></i> {% trans "Back" %}
        </a>
    {% endif %}

    <div class="card shadow-sm mt-4">
        <div class="card-body">

            <p class="mb-4 text-muted">
                <strong>{% trans "Area" %}:</strong> {{ subarea.area.id }} : {{ subarea.area.name }}<br>
                <strong>{% trans "Subarea" %}:</strong> {{ subarea.ref }} : {{ subarea.name }}<br>
                <strong>{% trans "IEV ref" %}:</strong> {{ term.ref }}
            </p>

            <p><strong>{% trans "Term" %}:</strong> {{ term_name }}</p>
            <p><strong>{% trans "Description" %}:</strong> {{ term_description }}</p>

            {% if term.source %}
                <p><strong>{% trans "Source" %}:</strong> {{ term.source }}</p>
            {% endif %}

            <p><strong>{% trans "Added to IEVP" %}:</strong> {{ term.created|date:"d-m-Y" }}</p>
            <p><strong>{% trans "Last IEVP update" %}:</strong> {{ term.updated|date:"d-m-Y" }}</p>

            {% if term.image %}
                <div class="my-4">
                    <img src="{{ term.image.url }}" alt="{{ term_name }}" class="img-fluid rounded border">
                </div>
            {% endif %}

            {% if term_extra %}
                <div class="mt-4">
                    <button class="btn btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#termExtraContent" aria-expanded="false" aria-controls="termExtraContent">
                        {% trans "Additional Content" %}
                    </button>

                    <div class="collapse mt-3" id="termExtraContent">
                        <div class="card card-body">
                            {{ term_extra|safe }}
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}