{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Terms" %}{% endblock %}

{% block content %}

        {% if subarea %}
{% comment %}
            <p><strong>{% trans "Filtering by Subarea" %}:</strong> {{ subarea_ref }} : {{ subarea.name|default:subarea.name_en }}</p>
{% endcomment %}
            <p><strong>{% trans "Filtering by" %}:</strong></p>
            <p><strong>{% trans "Area" %}:</strong> {{ subarea.area.id }} - {{ subarea.area.name }}</p>
            <p><strong>{% trans "Subarea" %}:</strong> {{ subarea.ref }} - {{ subarea.name }}</p>

        {% endif %}

    <h2>{% trans "Terms" %}</h2>

    <!-- Lista de termos -->
    <ul>
        {% for term in terms %}
            <li>
                <a href="{% url 'term_detail' term.ref %}">{{ term.ref }} : {{ term.name|default:term.name_en }}
                </a>
{% comment %}
                <a href="{% url 'term_detail' term.ref %}?language={{ content_language }}&query={{ request.GET.query }}&subarea={{ subarea_ref }}">{{ term.ref }} : {{ term.name|default:term.name_en }}
                </a>
{% endcomment %}

            </li>
        {% empty %}
            <li>{% trans "No terms found." %}</li>
        {% endfor %}
    </ul>
{% endblock %}

