{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ term_name }}{% endblock %}

{% block content %}
    <!-- Link de retorno com o idioma de conteúdo e query preservados -->
    {% comment %}<a href="{% url 'term_list' %}?language={{ content_language }}&query={{ request.GET.query }}">{% trans "Back to Terms" %}
    </a>{% endcomment %}
    {% comment %}<a href="{% url 'term_list' %}?language={{ content_language }}&query={{ request.GET.query }}{% if request.GET.subarea %}&subarea={{ request.GET.subarea }}{% endif %}">
    {% trans "Back to Terms" %}
    este é anterior funcional####################acima
    </a>{% endcomment %}

    {% comment %}<a href="{% url 'term_list' %}?language={{ content_language }}&query={{ request.GET.query }}{% if request.GET.subarea and request.GET.subarea != 'None' %}&subarea={{ request.GET.subarea }}{% endif %}">
    {% trans "Back to Terms" %}
    </a>{% endcomment %}
    {% comment %}<a href="{% url 'term_list' %}?language={{ content_language }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}{% if request.GET.subarea %}&subarea={{ request.GET.subarea }}{% endif %}">
    {% trans "Back to Terms" %}
    </a>{% endcomment %}
    {% comment %}<a href="{% url 'term_list' %}?language={{ content_language }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}{% if subarea_ref %}&subarea={{ subarea_ref }}{% endif %}">
    {% trans "Back to Terms" %}
    </a>{% endcomment %}

    {% comment %}<a href="{% url 'term_list' %}?language={{ content_language }}{% if query %}&query={{ query }}{% endif %}{% if subarea_ref %}&subarea={{ subarea_ref }}{% endif %}">
    {% trans "Back to Terms" %}
    </a>{% endcomment %}

    <a href="{% url 'term-list' %}?language={{ content_language }}{% if query %}&query={{ query }}{% endif %}{% if subarea_ref %}&subarea={{ subarea_ref }}{% endif %}">
    {% trans "Back to Terms" %}
    </a>


   {% comment %} <a href="{% url 'term_list' %}?language={{ content_language }}&{% if request.GET.query %}query={{ request.GET.query }}&{% endif %}{% if request.GET.subarea %}subarea={{ request.GET.subarea }}{% endif %}">{% trans "Go back to terms" %}
    </a>{% endcomment %}


    <h2>IEV ref : {{ term.ref }} : {{ term_name }}</h2>
{% comment %}
    <h2>IEV ref : {{ subarea.area.id }}-{{ subarea.subarea_id_0x }}-{{ term.id }} : {{ term_name }}</h2>
{% endcomment %}

    <p><strong>{% trans "Description" %}:</strong> {{ term_description }}</p>
    <p><strong>{% trans "Source" %}:</strong> {{ term.source }}</p>

    {% if term.image %}
        <img src="{{ term.image.url }}" alt="{{ term_name }}" />
    {% endif %}

    {% if term_extra %}
        <h3>{% trans "Additional content" %}</h3>
        <div>{{ term_extra|safe }}</div>
    {% endif %}

    </a>
{% endblock %}
