/* styles.css */
a {
    text-decoration: none; /* Remove o sublinhado dos links */
}

/* igualar as alturas dos botões da navbar */
/* Uniformizar altura dos campos e botões na navbar */
.navbar .form-control,
.navbar .form-select,
.navbar .btn-sm {
  height: 32px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

/* Corrigir alinhamento vertical navbar */
.navbar .form-control,
.navbar .form-select {
  margin-bottom: 0 !important;
}

/* Remover asterisco dos campos obrigatórios */
.asteriskField {
    display: none;
}
/* impedir que as imagens dentro do richtextfield nos posters saiam visualmente para fora do card */
/*.card-body img {*/
/*  max-width: 100%;*/
/*  height: auto;*/
/*  display: block;*/
/*}*/


/*.poster-description img {*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    max-width: 100%; !* mantém responsivo *!*/
/*    height: auto;*/
/*}*/

/* Garante que qualquer float dentro da descrição não afete o que vem a seguir */
.poster-description::after {
  content: "";
  display: block;
  clear: both;
}
