{% extends "base.html" %}

{% comment %}
Herda de configurações de base.html
{% endcomment %}

{% load static i18n %}
{% block title %}{% trans "Account" %}{% endblock %}

{% block content %}
    <h1>{% trans "User account page" %}</h1>

    {% if user.is_authenticated %}
        <p>{%trans "Hello" %} {{ user.username }}!</p>

        <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <p><button type="submit">{%trans "Log out" %}</button></p>
        </form>

        <form action="{% url 'password_change' %}" method="post">
        {% csrf_token %}
        <p><button type="submit">{%trans "Change password" %}</button></p>
        </form>

    {% else %}

    <p>{%trans "Hello! You are not logged in." %}</p>


    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <p><button type="submit">{%trans "Log in" %}</button></p>
    </form>

    <form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    <p><button type="submit">{%trans "Sign up" %}</button></p>
    </form>

    {% endif %}

{% endblock %}