{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans "IEV Platform" %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Electrotechnical vocabulary</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                           aria-current="page" href="{% url 'home' %}">{% trans "Home" %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'area-list' %}active{% endif %}"
                           href="{% url 'area-list' %}">{% trans "Areas" %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'subarea-list' %}active{% endif %}"
                           href="{% url 'subarea-list' %}">{% trans "Subareas" %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'term-list' %}active{% endif %}"
                           href="{% url 'term-list' %}">{% trans "Terms" %}</a>
                    </li>
{% comment %}
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">{% trans "Home" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'area-list' %}">{% trans "Areas" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'subarea-list' %}">{% trans "Subareas" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'term-list' %}">{% trans "Terms" %}</a></li>
{% endcomment %}
                </ul>
                <form class="d-flex me-4" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input class="form-control" name="next" type="hidden" value="{{ redirect_to }}">
                    <select class="form-select me-2" name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% for lang in LANGUAGES %}
                            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
                                {{ lang.1 }}
                            </option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-outline-info"  type="submit">{% trans "Change" %}</button>
                </form>
                <form class="d-flex" role="search" method="GET" action="{% url 'term-list' %}">
                    <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">{% trans "Search" %}</button>
                </form>
                {% if user.is_authenticated %}
                    <div class="d-flex align-items-center ms-3">
                        <a class="btn btn-outline-primary" href="{% url 'account' %}">
                            {{ user.username }}
                        </a>
                    </div>
                {% else %}
                    <div class="d-flex align-items-center ms-3">
                        <a class="btn btn-outline-secondary" href="{% url 'account' %}">{% trans "Account" %}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>

</header>


<main>
    {% block content %}
    {% endblock %}
</main>

<footer>

    <p></p>
    <p>{% trans "IEV project supporting international terminology dissemination." %}</p>
    <p>{% trans "Created by José Carlos Magalhães, ISEP student" %}</p>
    <p>&copy; 2025 – {% trans "All rights reserved" %}</p>
</footer>
</body>
</html>
