{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
  <h1 class="mb-4">{% trans "IEVP - International Electrotechnical Vocabulary Platform" %}</h1>

  {% if user.is_authenticated %}
    <p class="lead">{% trans "Hello" %} {{ user.username }}!</p>

    {% if news %}
      <div class="alert alert-success" role="alert">       {# estilos de avisos: alert-info, alert-success, alert-warning, alert-danger #}
        <h5><i class="bi bi-info-circle-fill me-2"></i><strong>{{ news.title }}</strong></h5>
        <div>{{ news.message|safe }}</div>
      </div>
    {% endif %}

  {% else %}
    <p>{% trans "Hello! You are not logged in." %}</p>
    <p>{% trans "To use the website, you need to be registered." %}</p>
    <p>{% trans "If you don’t have an account, please sign up on the account page." %}</p>
  {% endif %}

  <section class="mt-5">
    {# Aqui posso colocar conteúdo extra do home #}
  </section>
{% endblock %}
